/** Postgre SQL **/
/** name database: RapChieuPhim **/
create table ChiNhanh(
    MaCN varchar(5) primary key,
    TenCN text,
    DiaChi text,
    SoDT varchar(10)
);

create table NguoiDung(
	MaNguoiDung varchar(5) primary key,
	TenNguoiDung text,
	MatKhau varchar(10),
	Email text,
	MaCN varchar(5),
	CONSTRAINT fk_nd_cn FOREIGN key (MaCN) REFERENCES ChiNhanh (MaCN)
);

create table CSVC(
    MaCSVC varchar(5) primary key,
    TenCSVC text,
    Hinh text
);
create table KhachHang(
	MaKH serial primary key,
	TenKH text,
	MatKhau varchar(10),
	Email varchar(30) unique,
	SoDT varchar(10),
	DiaChi text,
	GioiTinh int,
	IdFB text,
	HinhFB text
);

create table Topping(
	MaTopping varchar(5) primary key,
	TenTopping text,
	Gia float,
	hinh text
);
create table OrderTopping(
	MaTopping varchar(5) ,
	SoLuongMua int,
	idVe int,
	primary key (MaTopping,idVe)
);
create table LoaiGhe(
	MaLoai int primary key ,
	TenLoai text,
	PhuThu float
);

create table Ghe(
	MaGhe varchar(5) primary key,
	TenGhe varchar(5),
	MaLoai int,
	CONSTRAINT fk_ghe_loaighe foreign key (MaLoai) references LoaiGhe(MaLoai)
);

create table TheLoai(
	MaTheLoai varchar(5) primary key,
	TenTheLoai text
);

create table Phim(
	MaPhim varchar(5) primary key,
	TenPhim text,
	DienVien text,
	NamSX int,
	Hinh text,
	DaoDien text,
	QuocGia text,
	ThoiLuong text,
	MoTa text,
	Traller text
);

create table ChiTietPhim(
	MaPhim varchar(5),
	MaTheLoai varchar(5),
	primary key (MaPhim,MaTheLoai),
	constraint fk_ctphim_phim foreign key (MaPhim) references Phim(MaPhim) on delete cascade,
	constraint fk_ctphim_theloai foreign key (MaTheLoai) references TheLoai(MaTheLoai)
);

create table NgayChieu(
	Stt serial primary key,
	Ngay date,
	GioBatDau time
);
create table PhongChieu(
	MaPhong varchar(5) primary key,
	TenPhong text,
	MaCN varchar(5),
	constraint fk_pc_cn foreign key (MaCN) references ChiNhanh(MaCN)
);

create table ChiTietGhe (
	MaCTGhe int primary key,
	MaPhong varchar(5),
	MaGhe varchar(5),
	constraint fk_ctghe_phong foreign key (MaPhong) references PhongChieu(MaPhong),
	constraint fk_ctghe_ghe foreign key(MaGhe) references Ghe (MaGhe)
);
create table CT_CSVC(
    MaCSVC varchar(5),
    MaPhong varchar(5),
	SoLuong int,
	TrangThai bit(1),
    primary key (MaCSVC,MaPhong),
    constraint fk_ctcsvc_phong foreign key (MaPhong) references PhongChieu(MaPhong),
	constraint fk_ctcsvc_csvc foreign key(MaCSVC) references CSVC (MaCSVC)
);
create table XuatChieu(
	Stt serial primary key,
	GiaXuatChieu float,
	Ngay int,
	MaPhong varchar(5),
	MaPhim varchar(5),
	foreign key(Ngay) references NgayChieu(Stt),
	constraint fk_xuatchieu_phong foreign key(MaPhong) references PhongChieu(MaPhong),
constraint fk_xuatchieu_phim foreign key (MaPhim) references Phim(MaPhim) on delete cascade
);

create table Ve(
	IdVe serial primary key,
	GiaVe float,
	ThueVAT float,
	MaKH int,
	MaCTGhe int,
	Stt_XC int,
	NgayMuaVe date,
	constraint fk_ve_khachhang foreign key (MaKH) references KhachHang(MaKH) on delete cascade,
	constraint fk_ve_ctghe foreign key(MaCTGhe) references ChiTietGhe(MaCTGhe)
);
create table HoaDon(
	MaHD text,
	IdVe int,
	NgayXuat date,
	primary key(MaHD),
	TongHD float,
	constraint fk_hd_ve foreign key (IdVe) references Ve(IdVe)
);
create table ChiTietTopping(
	MaCT serial,
	MaHD text,
	MaTopping varchar(5),
	SoLuongMua int,
	primary key(MaCT),
	constraint fk_ctTopping_Topping foreign key(MaTopping) references Topping(MaTopping) on delete cascade,
	constraint fk_ctTopping_hd foreign key(MaHD) references HoaDon(MaHD) on delete cascade
);
CREATE TABLE SanPhamNgungBan (
	mactsp int,
	ngayngungban DATE NOT NULL,
	
	CONSTRAINT pk_sanphamngungban PRIMARY KEY (mactsp)
);
insert into ChiNhanh values('cn1','Hưng Thịnh','78, Bình Hưng Hòa, quận Bình Thạnh','012345678');
insert into ChiNhanh values('cn2','Bình Tân','90, Phạm Ngũ Lão, quận Bình Tân','012345679');
insert into ChiNhanh values('cn3','Tân Phú','178, Lý Thường Kiệt, quận Tân Phú','012345680');

insert into CSVC values('vc1','Máy chiếu','vc1.png');
insert into CSVC values('vc2','Camera','vc2.png');
insert into CSVC values('vc3','Máy lạnh','vc3.png');


insert into KhachHang(TenKH,MatKhau,Email,SoDT,DiaChi,GioiTinh) values(N'Mai Thị Hồng Ngân','12345678','ngan@gmail.com','0165538970','Bình Dương',1);
insert into KhachHang(TenKH,MatKhau,Email,SoDT,DiaChi,GioiTinh) values(N'Phạm Thị Trà','12345678','tra@gmail.com','0962345623','Bình Thạnh',1);
insert into KhachHang(TenKH,MatKhau,Email,SoDT,DiaChi,GioiTinh) values(N'Trần Thị Trường An','12345678','an@gmail.com','0934179463','Phú Nhuận',1);

insert into NguoiDung values('ND01',N'Đồng Quốc Tiến',11111111,'ND01@gmail.com','cn1');
insert into NguoiDung values('ND02',N'Huỳnh Thị Anh Thúy',22222222,'ND02@gmail.com','cn2');
insert into NguoiDung values('ND03',N'Nguyễn Ngọc Giang',11111111,'ND03@gmail.com','cn3');

insert into LoaiGhe values(1,'Thường',0);
insert into LoaiGhe values(2,'Đôi',10000);
insert into LoaiGhe values(3,'Vip',15000);

insert into Ghe values('g1','A1',1);
insert into Ghe values('g2','A2',1);
insert into Ghe values('g3','A3',1);

insert into NgayChieu(ngay,giobatdau) values(CURRENT_DATE, '13:00:00');
insert into NgayChieu(ngay,giobatdau) values(CURRENT_DATE, '14:00:00');
insert into NgayChieu(ngay,giobatdau) values(CURRENT_DATE, '15:00:00');


insert into THELOAI values ('LP01','Hành động');
insert into THELOAI values ('LP02','Hài');
insert into THELOAI values ('LP03','Hoạt hình');


insert into CHITIETPHIM values ('MP01','LP01');
insert into CHITIETPHIM values ('MP01','LP04');		
insert into CHITIETPHIM values ('MP02','LP04');		

insert into PHONGCHIEU values('PC01','Phòng 1','cn1');
insert into PHONGCHIEU values('PC02','Phòng 2','cn1');
insert into PHONGCHIEU values('PC03','Phòng 3','cn1');

insert into CT_CSVC values('vc1','PC01',1, B'0');
insert into CT_CSVC values('vc2','PC01',6, B'0');
insert into CT_CSVC values('vc3','PC01',2, B'0');

insert into XuatChieu (GiaXuatChieu,Ngay,MaPhong,MaPhim) values(55000,1,'PC01','MP01');
insert into XuatChieu (GiaXuatChieu,Ngay,MaPhong,MaPhim) values(55000,1,'PC02','MP02');
insert into XuatChieu (GiaXuatChieu,Ngay,MaPhong,MaPhim) values(55000,1,'PC03','MP03');


insert into ChiTietGhe values(1,'PC01','g1');
insert into ChiTietGhe values(2,'PC01','g2');
insert into ChiTietGhe values(3,'PC01','g3');
insert into ChiTietGh
e values(3810,'PC38','g20');

insert into VE(ThueVAT,MaKH,MaCTGhe,Stt_XC,NgayMuaVe) values(0.05,1,1,1,'2022-11-16');
insert into VE(ThueVAT,MaKH,MaCTGhe,Stt_XC,NgayMuaVe) values(0.05,2,2,1,'2022-11-16');
insert into VE(ThueVAT,MaKH,MaCTGhe,Stt_XC,NgayMuaVe) values(0.05,3,3,1,'2022-11-16');

insert into HoaDon(MaHD,IdVe,NgayXuat) values(1,1,'2022-11-18');
insert into HoaDon(MaHD,IdVe,NgayXuat) values(2,2,'2022-11-18');
insert into HoaDon(MaHD,IdVe,NgayXuat) values(3,3,'2022-11-18');

insert into Topping values('tp01','Bắp rang bơ',60000,'tp01.jpg');
insert into Topping values('tp02','Coca Cola',79000,'tp02.jpg');
insert into Topping values('tp03','Sting',39000,'tp03.jpg');


insert into ChiTietTopping(MaHD,MaTopping,SoLuongMua) values(1,'tp01',1);
insert into ChiTietTopping(MaHD,MaTopping,SoLuongMua) values(2,'tp01',2);

-- create or replace function fillCard(
-- 	ngayvo date
-- )
-- returns table(
-- 	TenPhim text,
	
-- )
-- LANGUAGE 'plpgsql'
-- as $body$
-- begin
-- return query SELECT P.TENPHONG,
-- 	COUNT(CTG.MACTGHE) SOGHE,
-- 	COUNT(V.MACTGHE) SOVE
-- FROM PHONGCHIEU P
-- RIGHT JOIN CHITIETGHE CTG ON CTG.MAPHONG = P.MAPHONG
-- LEFT JOIN VE V ON V.MACTGHE = CTG.MACTGHE
-- WHERE P.MAPHONG in
-- 		(SELECT P.MAPHONG
-- 			FROM PHONGCHIEU P
-- 			JOIN XUATCHIEU XC ON XC.MAPHONG = P.MAPHONG
-- 			WHERE XC.ngay = ngayvo)
-- GROUP BY P.TENPHONG; 
-- END ;

-- select p.tenphim
-- from XuatChieu xc join Phim p on p.maphim = xc.maphim
-- where xc.ngay = '2022-09-01';
-- union
-- select GioBatDau,n.STT from XuatChieu xc join NgayChieu n on n.STT = xc.STT and n.Ngay = xc.Ngay
-- where maphim = 'MP01' and xc.ngay = '2022-09-01'
-- create or replace function getCountVe(
-- 	MaPhim text,
-- 	ngay date,
-- 	STT int
-- )

-- RETURNs table(
-- 	SoGhe bigint
-- )
-- language 'plpgsql'
-- as $$
-- begin
-- return query select v.MaCTGhe, g.TenGhe
-- from Ve v join ChiTietGhe ctg on v.MaCTGhe = ctg.MaCTGhe
-- 			join PhongChieu pg on pg.MaPhong = ctg.MaPhong
-- 			join XuatChieu xc on xc.MaPhong = pg.MaPhong
-- 			join NgayChieu n on n.STT = xc.STT and n.Ngay = xc.Ngay
-- 			right join Phim p on p.MaPhim = xc.MaPhim
-- 			join Ghe g on g.MaGhe = ctg.MaGhe
-- where p.MaPhim = MaPhim and xc.ngay = ngay and xc.STT = STT;
-- end $$;
-- -- select * from Phim
-- select v.MaCTGhe, g.TenGhe
-- from Ve v join ChiTietGhe ctg on v.MaCTGhe = ctg.MaCTGhe
-- 			join PhongChieu pg on pg.MaPhong = ctg.MaPhong
-- 			join XuatChieu xc on xc.MaPhong = pg.MaPhong
-- 			join NgayChieu n on n.STT = xc.STT and n.Ngay = xc.Ngay
-- 			right join Phim p on p.MaPhim = xc.MaPhim
-- 			join Ghe g on g.MaGhe = ctg.MaGhe
-- where p.MaPhim = 'MP02' and xc.ngay = '2022-09-01' and xc.STT = 1
-- ;

-- drop function SelectGheInVe
-- create or replace function SelectGheInVe(
-- 	ngayvo date,
-- 	sttvo bigint,
-- 	maphimvo character varying
-- )

-- returns table (
-- 	MaCTGhe int,
-- 	Tenghe CHARACTER varying
-- )
-- LANGUAGE 'plpgsql'
-- as $$
-- begin
-- 	return query select v.MaCTGhe , cast(g.TenGhe as character varying ) as TenGhe
-- from ve v join ChiTietGhe ctg on v.MaCTGhe = ctg.MaCTGhe
-- join ghe g on g.maghe = ctg.maghe
-- 			join phongchieu pc ON pc.maphong = ctg.maphong
-- 			join XuatChieu xc on xc.maphong = pc.maphong
-- 			join Phim p on p.maphim = xc.maphim
-- where xc.ngay = ngayvo and xc.stt = sttvo and p.maphim = maphimvo;
-- end $$;
with t as (
  -- Any generic query which returns rowid and corresponding calculated values
  select distinct ve.idve as id1,(phuthu+giaxuatchieu)* 1.05 as tong			
  from ve  JOIN chitietghe ON chitietghe.mactghe = ve.mactghe
			join phongchieu ON phongchieu.maphong = chitietghe.maphong
			join xuatchieu ON xuatchieu.maphong = phongchieu.maphong
			join ghe on ghe.maghe = chitietghe.maghe
			join loaighe on loaighe.maloai = ghe.maloai

)
update ve
set giave = t.tong
from t
where idve = t.id1;
with tt as (
  -- Any generic query which returns rowid and corresponding calculated values
  select giave+ (case when ChiTietTopping.MaTopping is null then 0 else (gia* ChiTietTopping.SoLuongMua) end) as tong, HoaDon.MaHD as hd		
  from ve join hoadon on hoadon.IdVe = ve.IdVe
			left join ChiTietTopping on ChiTietTopping.MaHD = hoadon.MaHD
			left join Topping on Topping.MaTopping = ChiTietTopping.MaTopping

)
update hoadon
set TongHD = tt.tong
from tt
where MaHD = tt.hd;

-- select Ve.idve, loaighe.tenloai, phuthu, xc.giaxuatchieu,soluongmua, t.gia
-- from Ve left join chitiettopping ctt on ctt.idve = Ve.idve
-- 		join chitietghe ON chitietghe.mactghe = Ve.mactghe
-- 		left join topping t on t.matopping = ctt.matopping
-- 		join PhongChieu pc on chitietghe.maphong = pc.maphong
-- 		join XuatChieu xc on xc.maphong = pc.maphong
-- 		join ghe on ghe.maghe = chitietghe.maghe
-- 		join loaighe on loaighe.maloai = ghe.maloai;
		
-- select * from NgayChieu where giobatdau <= '17:00:00'
-- select * from SelectGheInVe('2022-09-01',1,'MP02')
-- select p.TenPhim from Phim p join XuatChieu xc on xc.MaPhim = p.MaPhim
-- select Phim.*  
-- from Phim join xuatchieu ON xuatchieu.maphim = Phim.maphim
-- 		join phongchieu ON phongchieu.maphong = xuatchieu.maphong
-- 		join chinhanh ON chinhanh.macn = phongchieu.macn
-- 		join ngaychieu on ngaychieu.stt = xuatchieu.ngay
-- where chinhanh.macn = 'cn1' and ngaychieu.ngay = CURRENT_DATE
-- select * from SelectPhimByChiNhanh('cn2');

create or replace function SelectPhimByChiNhanh(
	cn varchar(5)
)

returns table (
	MaPhim varchar(5),
	TenPhim text,
	DienVien text,
	NamSX int,
	Hinh text,
	DaoDien text,
	QuocGia text,
	ThoiLuong text,
	MoTa text,
	Traller text
)
LANGUAGE 'plpgsql'
as $$
begin
	return query select Phim.*  
from Phim join xuatchieu ON xuatchieu.maphim = Phim.maphim
		join phongchieu ON phongchieu.maphong = xuatchieu.maphong
		join chinhanh ON chinhanh.macn = phongchieu.macn
		join ngaychieu on ngaychieu.stt = xuatchieu.ngay
where chinhanh.macn = cn and ngaychieu.ngay = CURRENT_DATE;
end $$;

create or replace function SelectGio(
	cn varchar(5)
)

returns table (
	 stt int,
	ngay date,
	giobatdau time
)

LANGUAGE 'plpgsql'
as $$
begin
	return query select distinct NgayChieu.*  
from NgayChieu join xuatchieu on xuatchieu.ngay = ngaychieu.stt
				right join phongchieu on phongchieu.maphong = xuatchieu.maphong
where NgayChieu.ngay = CURRENT_DATE and NgayChieu.giobatdau >cast( to_char(now(), 'HH24:MI:SS') as time) and phongchieu.macn = cn;
end $$;
create or replace function SelectPhimByTenPhim(
	gio time,
	cn varchar(5),
	ten text
)
	
returns table (
	MaPhim varchar(5),
	TenPhim text,
	DienVien text,
	NamSX int,
	Hinh text,
	DaoDien text,
	QuocGia text,
	ThoiLuong text,
	MoTa text,
	Traller text,
	stt_xc int,
	maphong varchar(5),
	tenphong text
)

LANGUAGE 'plpgsql'
as $$
begin
	return query select phim.*, xuatchieu.stt, phongchieu.maphong, phongchieu.tenphong
	from phim join xuatchieu on phim.maphim=xuatchieu.maphim
			  join ngaychieu on ngaychieu.stt=xuatchieu.ngay
			  join phongchieu on phongchieu.maphong = xuatchieu.maphong
	 where ngaychieu.giobatdau = gio and ngaychieu.ngay=CURRENT_DATE and phongchieu.macn = cn and phim.tenphim like ten || N'%';
end $$;
create or replace function SelectTenPhim(
	gio time,
	cn varchar(5)
)
	
returns table (
	MaPhim varchar(5),
	TenPhim text,
	DienVien text,
	NamSX int,
	Hinh text,
	DaoDien text,
	QuocGia text,
	ThoiLuong text,
	MoTa text,
	Traller text,
	stt_xc int,
	maphong varchar(5),
	tenphong text
)

LANGUAGE 'plpgsql'
as $$
begin
	return query select phim.*, xuatchieu.stt, phongchieu.maphong, phongchieu.tenphong
	from phim join xuatchieu on phim.maphim=xuatchieu.maphim
			  join ngaychieu on ngaychieu.stt=xuatchieu.ngay
			  join phongchieu on phongchieu.maphong = xuatchieu.maphong
	 where ngaychieu.giobatdau = gio and ngaychieu.ngay=CURRENT_DATE and phongchieu.macn = cn;
end $$;

create or replace function Selectghecove(
	xc int
)
	
returns table (
	MaLoaiGhe int,
	maGhe varchar(5),
	tenGheA varchar(5),
	idVe int,
	gia float,
	maCTghe int
)

LANGUAGE 'plpgsql'
as $$
begin
	return query SELECT ghe.MaLoai,ghe.MaGhe,TenGhe,ve.IdVe, (loaighe.phuthu+xuatchieu.giaxuatchieu) as gia, chitietghe.MaCTGhe
		FROM chitietghe join phongchieu on phongchieu.maphong = chitietghe.maphong
join xuatchieu on phongchieu.maphong = xuatchieu.maphong 
left join ve on xuatchieu.stt = ve.stt_xc and chitietghe.mactghe  = ve.mactghe
join ghe on ghe.maghe  = chitietghe.maghe
join loaighe on ghe.maloai = loaighe.maloai
where xuatchieu.stt = xc
		order by chitietghe.mactghe;
end $$;

create or replace function DoanhThuTheoThang(
	machinhanh varchar(5)
)
	
returns table (
	TongTienVe float,
	thang text
)
LANGUAGE 'plpgsql'
as $$
begin
return query select SUM(giave) as DoanhThu, 'Tháng ' || EXTRACT(MONTH FROM nc.ngay) as Tháng from ve v join xuatchieu xc on xc.stt = v.stt_xc join ngaychieu nc on nc.stt = xc.ngay join PhongChieu pc on xc.maPhong = pc.maPhong Join ChiNhanh cn on cn.maCn = pc.macn
where cn.maCN = machinhanh and EXTRACT(MONTH FROM nc.ngay) <= EXTRACT(MONTH FROM CURRENT_DATE) Group by EXTRACT(MONTH FROM nc.ngay) ;
end $$;

create or replace function PhimHot(
	machinhanh varchar(5)
)
	
returns table (
	TongSoVe bigint,
	tenPhim text
)

LANGUAGE 'plpgsql'
as $$
begin
return query select count(idve) as TongVe, p.TenPhim from ve v join xuatchieu xc on xc.stt = v.stt_xc join ngaychieu nc on nc.stt = xc.ngay join PhongChieu pc on xc.maPhong = pc.maPhong Join ChiNhanh cn on cn.maCn = pc.macn join Phim p on p.maPhim = xc.maPhim
where nc.ngay <= CURRENT_DATE AND cn.maCN = machinhanh  GROUP BY cn.tenCN,nc.Ngay,p.tenPhim ORDER BY tongve DESC;
end $$;
create or replace function DoanhThuTheoNgay(
	machinhanh varchar(5)
)
	
returns table (
	TongTienVe float,
	ngay text
)
LANGUAGE 'plpgsql'
as $$
begin
return query select SUM(giave) as DoanhThu, nc.ngay::text as Tháng from ve v join xuatchieu xc on xc.stt = v.stt_xc join ngaychieu nc on nc.stt = xc.ngay join PhongChieu pc on xc.maPhong = pc.maPhong Join ChiNhanh cn on cn.maCn = pc.macn
where cn.maCN = machinhanh and nc.ngay <= CURRENT_DATE Group by  nc.ngay ;
end $$;
create or replace function SelectVeOnline(
	cn varchar(5)
)
returns table (
	idve int,
	tenkh text,
	tenphim text,
	tenphong text,
	ngaychieu text,
	giave float
)
language plpgsql    
as $$
begin
    return query select ve.idve, khachhang.tenkh, phim.tenphim, phongchieu.tenphong||' - '|| ghe.tenghe,ngaychieu.ngay|| ' - '|| ngaychieu.giobatdau, ve.giave
from ve join khachhang on khachhang.makh = ve.makh
		join ChiTietGhe on ChiTietGhe.mactghe = ve.mactghe
		join ghe on ghe.maghe = ChiTietGhe.maghe
		join xuatchieu on xuatchieu.stt = ve.stt_xc
		join phim on phim.maphim = xuatchieu.maphim
		join ngaychieu on ngaychieu.stt = xuatchieu.ngay
		join phongchieu on phongchieu.maphong = xuatchieu.maphong
where ve.idve not in (select hoadon.idve from hoadon) and ngaychieu.ngay = CURRENT_DATE and phongchieu.macn = cn
order by ve.idve;
end $$;
create or replace function SelectTPofVe(
	mave int
)
returns table (
	maTopping varchar(5),
	tenTopping text,
	soluongmua int,
	gia float
)
language plpgsql    
as $$
begin
    return query select Topping.maTopping, Topping.tenTopping,ordertopping.soluongmua, topping.gia
						from Topping join ordertopping on Topping.maTopping = ordertopping.maTopping
						where idve = mave;
end $$;
-- select * from SelectTPofVe(135) 
-- select ve.idve, khachhang.tenkh,khachhang.email,ngaychieu.giobatdau, phim.tenphim, phongchieu.tenphong||' - '|| ghe.tenghe,ngaychieu.ngay|| ' - '|| ngaychieu.giobatdau, ve.giave, topping.tentopping, ordertopping.soluongmua
-- from ve join khachhang on khachhang.makh = ve.makh
-- 		join ChiTietGhe on ChiTietGhe.mactghe = ve.mactghe
-- 		join ghe on ghe.maghe = ChiTietGhe.maghe
-- 		join xuatchieu on xuatchieu.stt = ve.stt_xc
-- 		join phim on phim.maphim = xuatchieu.maphim
-- 		join ngaychieu on ngaychieu.stt = xuatchieu.ngay
-- 		join phongchieu on phongchieu.maphong = xuatchieu.maphong
-- 		left join ordertopping on ordertopping.idve = ve.idve
-- 		left join topping on topping.matopping = ordertopping.matopping
-- where ve.idve not in (select hoadon.idve from hoadon) and ngaychieu.giobatdau >cast( to_char(now(), 'HH24:MI:SS') as time) and ngaychieu.ngay = CURRENT_DATE and phongchieu.macn = 'cn2'
-- order by ve.idve;
-- select * from hoadon order by idve;
-- select * from ve order by idve;
-- select * from xuatchieu join phongchieu on phongchieu.maphong = xuatchieu.maphong where stt = 2
-- select * from SelectVeOnline('cn1');
create or replace function SelectCSVC(mcn text)

returns table(
	MaCSVC varchar(5),
	TenCN text,
	TenPhong text,
	TenCSVC text,
	SoLuong int,
	TrangThai bit(1)
)

LANGUAGE 'plpgsql'
as $$
begin
	return query SELECT csvc.MaCSVC, cn.TenCN, phg.TenPhong, csvc.TenCSVC, ct_csvc.SoLuong, ct_csvc.TrangThai
				 FROM ChiNhanh cn JOIN PhongChieu phg ON cn.macn = phg.macn 
				 				  JOIN CT_CSVC ct_csvc ON phg.maphong = ct_csvc.maphong
								  JOIN CSVC csvc ON ct_csvc.macsvc = csvc.macsvc
				 WHERE cn.MaCN IN (mcn)
				 ORDER BY phg.MaPhong;
end $$;

create or replace function CountVe(cn varchar(5))

returns table(
	soluongve bigint,
	ngay date
)

LANGUAGE 'plpgsql'
as $$
begin
	return query select count(idve),ngaychieu.ngay from ve join chitietghe on chitietghe.mactghe = ve.mactghe
join phongchieu on phongchieu.maphong = chitietghe.maphong
join xuatchieu on xuatchieu.stt = ve.stt_xc and xuatchieu.maphong = phongchieu.maphong
join ngaychieu on ngaychieu.stt = xuatchieu.ngay
where macn = cn and ngaychieu.ngay <= CURRENT_DATE
group by ngaychieu.ngay
order by ngaychieu.ngay
limit 7;
end $$;

-- with ve1 as(
-- 	select  count(idve) as sove, phim.tenphim from ve  right join chitietghe on chitietghe.mactghe = ve.mactghe
-- join phongchieu on phongchieu.maphong = chitietghe.maphong
-- join xuatchieu on xuatchieu.stt = ve.stt_xc and xuatchieu.maphong = phongchieu.maphong
-- join ngaychieu on ngaychieu.stt = xuatchieu.ngay
-- join phim on phim.maphim = xuatchieu.maphim
-- where macn = 'cn1' and ngaychieu.ngay = CURRENT_DATE
-- group by phim.tenphim
-- order by count(idve)
-- )


-- select  count(idve) as tong,sove, phim.tenphim from ve  right join chitietghe on chitietghe.mactghe = ve.mactghe
-- join phongchieu on phongchieu.maphong = chitietghe.maphong
-- join xuatchieu on xuatchieu.stt = ve.stt_xc and xuatchieu.maphong = phongchieu.maphong
-- join ngaychieu on ngaychieu.stt = xuatchieu.ngay
-- join phim on phim.maphim = xuatchieu.maphim
-- join ve1 on phim.tenphim = ve1.tenphim
-- where macn = 'cn1'
-- group by phim.tenphim,sove
-- order by count(idve)
-- select tong, sove from ve1 join ve2 on ve1.tenphim = ve2.tenphim
-- select * from ve order by idve;
-- select * from SelectVeOnline('cn');